//read config file
def config = new ConfigSlurper().parse(new File('cgp_downsampler.prm').toURL())
props = config.toProperties()

LSF_JOB_NAME=props.LSF_JOB_NAME

LSF_Q_DODWONSAMPLING=props.LSF_Q_DODWONSAMPLING
LSF_MEMORY_DODWONSAMPLING=props.LSF_MEMORY_DODWONSAMPLING
LSF_ARRAY_START_DODWONSAMPLING=props.LSF_ARRAY_START_DODWONSAMPLING
LSF_ARRAY_END_DODWONSAMPLING=props.LSF_ARRAY_END_DODWONSAMPLING
LSF_THREADS_DODWONSAMPLING=props.LSF_THREADS_DODWONSAMPLING

LSF_Q_BWAMEM=props.LSF_Q_BWAMEM
LSF_MEMORY_BWAMEM=props.LSF_MEMORY_BWAMEM
LSF_ARRAY_START_BWAMEM=props.LSF_ARRAY_START_BWAMEM
LSF_ARRAY_END_BWAMEM=props.LSF_ARRAY_END_BWAMEM
LSF_THREADS_BWAMEM=props.LSF_THREADS_BWAMEM
//def JOBID = System.getenv('LSB_JOBID');
executor="lsf"
procs="1"

commands {
  lsf_DODWONSAMPLING {
  procs="$LSF_THREADS_DODWONSAMPLING"
    lsf_request_options="  -P analysis-cgp -q $LSF_Q_DODWONSAMPLING -R'select[mem>$LSF_MEMORY_DODWONSAMPLING]  span[hosts=1] rusage[mem=$LSF_MEMORY_DODWONSAMPLING]' -M$LSF_MEMORY_DODWONSAMPLING -o ${LSF_JOB_NAME}_DODWONSAMPLING.%I.canPipe.log -J ${LSF_JOB_NAME}_DODWONSAMPLING'[$LSF_ARRAY_START_DODWONSAMPLING-$LSF_ARRAY_END_DODWONSAMPLING]'"
  }
  lsf_BWAMEM {
    procs="$LSF_THREADS_BWAMEM"
    lsf_request_options=" -P analysis-cgp  -q $LSF_Q_BWAMEM -R'select[mem>=$LSF_MEMORY_BWAMEM] span[hosts=1] rusage[mem=$LSF_MEMORY_BWAMEM]' -M$LSF_MEMORY_BWAMEM -o ${LSF_JOB_NAME}_BWAMEM.%I.canPipe.log -J ${LSF_JOB_NAME}_BWAMEM'[$LSF_ARRAY_START_BWAMEM-$LSF_ARRAY_END_BWAMEM]'"
  }
}
